@use "../../utils/placeholders" as *;

.recipes {
  min-height: 50dvh;
  width: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;


  gap: 2rem;

  scroll-margin-top: 150px;


  .recipes_header {
    text-align: center;
    display: flex;
    flex-direction: column;

    gap: clamp(2rem, 3vw, 3rem);

    .recipes_header_title {
      font-style: italic;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      p {
        background-color: var(--orange-2);
        padding: 0.4rem 0.8rem;
        border-radius: 12px;

        color: var(--white-1);
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;

        font-size: clamp(0.8rem, 1.5vw, 1rem);

      }

      h1 {

        font-size: clamp(2rem, 3vw, 3rem);
        text-transform: uppercase;
        color: var(--black-1);
        font-weight: 500;
      }

      h2 {

        font-size: clamp(1rem, 1.5vw, 1.3rem);
        font-weight: 300;
        color: var(--black-1);
      }

    }


    .recipes_header_categories {

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: clamp(0.5rem, 1.5vw, 1rem);


      p {
        background-color: transparent;
        padding: 0.6rem 0.9rem;
        border-radius: 24px;
        border: 0.5px solid var(--border-color);
        cursor: pointer;
        user-select: none;
        transition: all 0.2s ease-in-out;
        font-weight: 500;
        font-style: italic;
        letter-spacing: 0.5px;

      }

      .active_category {
        background-color: var(--orange-2);
        border-color: var(--orange-2);
        color: white;
      }

    }


  }


  .recipes_cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 350px), 1fr));
    gap: 1rem;
  }


  .load_more_button {
    @extend %btn;
    text-transform: uppercase;
    border: 1px solid var(--border-color);
    color: var(--black-1);
    font-weight: 600;
    padding: clamp(0.6rem, 1vw, 0.8rem) clamp(1rem, 1vw, 1.2rem);
    font-size: clamp(0.8rem, 1vw, 1rem);
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
    font-style: italic;

    &:hover {
      background-color: var(--orange-2);
      border-color: var(--orange-2);
    }
  }
}