@use "../../scss/utils/placeholders" as *;
@use "../../scss/utils/mixins" as *;


.second_navbar {
  display: none;


  @include respond(tab-port) {
    display: flex;

    flex-direction: column;
    justify-content: center;


    gap: 1rem;

    position: fixed;
    height: 100%;
    width: 100%;

    z-index: 101;

    background-color: var(--white-1);


    a {
      font-size: 2rem;
      position: relative;
      color: var(--black-1);

      font-weight: 600;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;


    }

    .close_icon {
      position: absolute;
      font-size: 2rem;
      top: 0.5rem;
      left: 0.5rem;
    }


  }
}

.nav_bar {


  width: 100%;

  user-select: none;


  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 0.1px solid var(--border-color);
  border-radius: 32px;


  padding: 1.1rem 1.2rem;

  position: sticky;
  left: 0;
  top: 1rem;

  backdrop-filter: blur(20px);

  z-index: 100;


  .logo_container {
    display: flex;
    align-items: center;
    width: fit-content;

    cursor: pointer;

  }


  .main_navbar {
    display: flex;
    align-items: center;

    gap: clamp(1rem, 3vw, 2rem);

    .close_icon {
      display: none;
    }

    a {
      position: relative;
      color: var(--black-1);
      font-weight: 600;
      text-transform: uppercase;
      font-size: clamp(0.8rem, 1.5vw, 1rem);


      &::after {
        position: absolute;
        content: "";
        display: block;
        top: 110%;
        width: 0;
        height: 3px;
        background: var(--black-1);
        transition: width .5s;
        background-color: var(--orange-2);
        border-radius: 32px;
      }

      &:hover::after {
        width: 100%;
      }

    }
  }

  .nav_bar_footer {
    display: flex;
    align-items: center;
    gap: clamp(0.5rem, 1.5vw, 1rem);


    a {
      @extend %btn;
      text-transform: uppercase;
      background-color: var(--black-1);
      color: var(--white-1);
      font-weight: 500;
      padding: 0.8rem 1.5rem;
      font-size: clamp(0.8rem, 1.5vw, 1rem);
    }
  }

  .nav_bar_icon {
    padding: 0.5rem;

    font-size: clamp(0.8rem, 1.5vw, 1.3rem);

    color: var(--white-1);

    cursor: pointer;

    background-color: var(--black-1);
    border-radius: 10px;

  }

  .hamburger_menu_icon {
    display: none;
  }

  @include respond(tab-port) {

    .nav_bar_footer {
      button {
        display: none;
      }
    }
    .hamburger_menu_icon {
      display: block;
    }

    .main_navbar {
      display: none;

    }

  }
}