@use "../utils/placeholders" as *;

.recipe_card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  gap: 1rem;

  border-radius: 32px;

  background-color: var(--recipe-card-bg);

  overflow: hidden;

  .video_area {
    position: absolute;
    top: 1rem;
    left: 1rem;


    display: flex;
    align-items: center;

    gap: 0.5rem;
    padding: clamp(0.6rem, 1vw, 0.8rem) clamp(0.3rem, 1vw, 0.5rem);
    border-radius: 12px;
    cursor: pointer;
    background-color: #D8020F;

    color: white;

    font-size: clamp(0.8rem, 1vw, 1rem);
  }

  .image_wrapper {
    height: clamp(200px, 40vw, 300px);
    width: 100%;


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  .food_card_info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    color: var(--black-1);

    gap: 1rem;
    position: relative;


    .vegan_icon_wrapper {
      position: absolute;
      top: -3em;
      right: 2rem;

      height: clamp(3rem, 5vw, 4.5rem);
      width: clamp(3rem, 5vw, 4.5rem);;
    }

    .food_card_info_header {
      display: flex;
      flex-direction: column;
      gap: 1rem;


      h1 {
        font-size: clamp(1rem, 1.5vw, 1.5rem);
        font-weight: 500;
        text-transform: uppercase;

      }

      h2 {
        font-size: clamp(0.8rem, 1vw, 1rem);
        font-weight: 300;
        line-height: 1.5;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 7; /* number of lines to show */
        line-clamp: 7;
        -webkit-box-orient: vertical;
      }

    }


    .food_card_info_footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      gap: 1rem;


      p {
        font-size: clamp(0.8rem, 1vw, 1rem);
        font-weight: 400;
        line-height: 1.5;

        background-color: var(--orange-2);
        color: white;
        padding: clamp(0.3rem, 1vw, 0.4rem) clamp(0.4rem, 1vw, 0.5rem);
        border-radius: 12px;
      }


      button {
        @extend %btn;
        text-transform: uppercase;
        border: 0.5px solid var(--border-color);
        color: var(--black-1);
        font-weight: 500;
        padding: clamp(0.6rem, 1vw, 0.8rem);
        font-size: clamp(0.8rem, 1vw, 0.8rem);
        background-color: transparent;
        transition: all 0.3s ease-in-out;

      }
    }

  }
}

.recipe_card_2 {
  overflow: hidden;
  border-radius: 32px;


  cursor: pointer;
  display: flex;

  .image_wrapper_2 {
    height: auto;
    width: clamp(120px, 30vw, 200px);
    flex-shrink: 0;

    overflow: hidden;



    img {
      height: 100%;
      width: 100%;
      object-fit: cover;

      transition: all 0.3s ease-in-out;

      &:hover {
        scale: 1.1;
      }
    }
  }


  .food_card_info_2 {
    background-color: var(--recipe-card-bg);
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 1rem;


    h1 {
      font-size: clamp(0.8rem, 1.5vw, 1rem);
      font-weight: 300;
      font-style: italic;
      line-height: 1.5;

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4; /* number of lines to show */
      line-clamp: 4;
      -webkit-box-orient: vertical;
    }

    button {
      @extend %btn;

      background-color: white;
      padding: 0.5rem;
      margin-left: auto;

      border: 0.5px solid var(--border-color);
    }
  }

}